        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            text-decoration: none;
            max-width: 100%;
            color: seashell;
            cursor: default;
            list-style: none;
            font-family: sans-serif;
        }
        
        footer {
            grid-area: fo;
            background: rgb(33, 33, 33);
            display: flex;
        }
        
        #zedditHead {
            padding: 20px;
        }
        
        #tm {
            text-decoration: underline;
            font-size: 0.7rem;
            justify-self: flex-start;
        }
        
        #catWrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            min-width: 260px;
        }
        
        .footerCat {
            height: 40%;
            padding: 10px;
        }
        
        .footerCat li {
            font-size: 0.8rem;
            color: rgb(255, 78, 160);
            cursor: pointer;
            margin: 5px;
        }
        
        #neverStop {
            max-width: 110px;
            min-width: 110px;
        }
        
        header {
            position: fixed;
            background: rgb(24, 24, 24);
            max-height: 8vh;
            min-height: 60px;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #logga {
            height: 25px;
        }
        
        #nav_links {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: right;
            background-color: rgba(24, 24, 24, 0.8);
            /*fixa blur ksk*/
            position: absolute;
            padding: 10px;
            right: 0;
            height: 175px;
            top: -200px;
            transition: all 0.4s;
        }
        
        .nav_active {
            transform: translateY(260px);
        }
        
        #nav_links li {
            display: flex;
            justify-content: flex-end;
        }
        
        #nav_links a {
            letter-spacing: 0.1rem;
            font-weight: bold;
            font-size: 1.25rem;
            margin-left: 10px;
        }
        
        #nav_links a:hover {
            color: grey;
            transition: ease 0.3s;
        }
        
        .burger_line {
            background-color: seashell;
            height: 4px;
            width: 35px;
            margin: 6px;
            border-radius: 10%;
            transition: all 0.3s;
        }
        
        #burger {
            cursor: pointer;
        }
        
        .seeMore {
            color: rgb(255, 78, 160);
            align-self: center;
            padding: 1rem;
            cursor: pointer;
        }
        
        .crossed_line #line1 {
            transform: rotate(-45deg) translate(-8px, 6px);
        }
        
        .crossed_line #line2 {
            opacity: 0;
        }
        
        .crossed_line #line3 {
            transform: rotate(45deg) translate(-8px, -6px);
        }
        
        #welcome {
            grid-area: ma;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        #searchbar {
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: solid rgb(255, 78, 160) 2px;
            margin-bottom: 2rem;
            width: 80vw;
        }
        
        #news {
            grid-area: ns;
            padding-left: 0.3rem;
        }
        
        #forYou {
            grid-area: fy;
            padding-left: 0.3rem;
        }
        
        #hotTopics {
            grid-area: ht;
            padding-left: 0.3rem;
        }
        
        .add {
            width: 10px;
        }
        
        .topic {
            border-bottom: solid rgb(255, 78, 160) 1px;
            padding: .3rem;
            margin: 5px 1rem;
            cursor: pointer;
        }
        
        .topic:hover {
            background-color: rgb(80, 80, 80);
        }
        /*
        -------------------------------------------------------------------------------------------------------------------
    */
        
        #wrap {
            display: grid;
            grid-template-rows: minmax(60px, 12vh) 70vh 1fr 1fr 1fr 250px 75px;
            grid-template-areas: "." "ma" "ns" "fy" "ht" "fo" ".";
            background-color: rgb(42, 42, 42);
            min-width: 370px;
        }
        
        hr {
            justify-self: flex-end;
            display: block;
            height: 1px;
            width: 100%;
            border: 0;
            border-top: 2px solid rgb(80, 80, 80);
            margin: 1rem 0;
            padding: 0;
        }
        
        p {
            font-size: 0.8rem;
        }
        
        h1 {
            font-size: 3rem;
            font-family: serif;
        }
        
        h2 {
            font-size: 1.85rem;
            font-family: serif;
        }
        
        h3 {
            font-size: 1.14rem;
            font-weight: normal;
            font-family: serif;
        }
        
        .footerH {
            font-weight: bold;
        }
        
        .middle {
            /*Ändra klassnamn till något m titlar*/
            padding: 1rem;
            text-align: center;
        }
        
        .side {
            margin-left: .5rem;
        }
        
        .sideP {
            margin-left: .5rem;
            margin-bottom: 0.5rem;
            color: rgb(200, 200, 200);
        }
        
        #profile {
            background: rgb(24, 24, 24);
            height: 75px;
            border-top: solid 2px;
            position: fixed;
            width: 100%;
            bottom: 0;
            display: flex;
        }
        
        #pfp {
            height: 80px;
            position: absolute;
            left: 15px;
            top: -40px;
        }
        
        #pfName {
            align-self: flex-end;
            margin: 8px 15px;
            margin-right: 0;
        }
        
        .titleWrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .titleWrap2 {
            display: flex;
            flex-wrap: wrap;
            width: 75px;
        }
        
        #dotWrap {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10px;
        }
        
        #dotWrap:hover {
            cursor: pointer;
        }
        
        .dot {
            border-radius: 100%;
            background-color: rgb(80, 80, 80);
            height: 5px;
            width: 5px;
            margin: 1px;
        }
        
        .title {
            padding: 2px 5px;
            margin: 2px;
            font-size: 0.8rem;
            width: auto;
            border-radius: 35%;
        }
        
        .topicWrap {
            display: flex;
            flex-direction: column;
        }
        
        #pfWrap {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            min-width: 226px;
        }
        
        .func {
            height: 50px;
            padding: 7px;
            align-self: center;
            border: solid rgb(255, 78, 160) 2px;
            border-radius: 25%;
        }
        
        .func:hover {
            cursor: pointer;
        }